
$light-color: #fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;


.wrap {
	max-width: 1170px;
	margin: 0 auto;
}
.page-main {
	background-image: url(../../img/bg-main.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: $light-color;
	padding-bottom: 161px;
}
.page {
	padding-top: 161px;
	padding-bottom: 145px;
	&_gray {
		background-color: $bg-light-color;
	}
	&__title {
		font-size: 48px;
		text-align: center;
		margin-bottom: 25px;
		letter-spacing: 2px;
	}
	&__subtitle {
		color: $accent-color;
		text-align: center;
		font-size: 18px;
		letter-spacing: 0.9px;
	}
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 175px;
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../../img/logo.svg);
	}
	&-list{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		font-family: 'Open Sans', serif;
		font-size: 16px;
		&__item {
			margin-left: 22px;
			padding-bottom: 5px;
			border-bottom: 3px solid transparent;
			transition: 0.3s;
			&:hover {
				border-bottom: 3px solid $accent-color;
			}
		}
		&__item.active {
			border-bottom: 3px solid $accent-color;

		}
		&__link {
			color: $light-color;
			text-decoration: none;
			letter-spacing: 0.5px;
		}
	}
}
.block-text {
	flex-basis: calc(93% - 500px);
	&__name {
		font-family: 'Open Sans', serif;
		font-size: 18px;
		letter-spacing: 0.9px;
		margin-bottom: 42px;
		margin-top: 1px;
	}
	&__name_top {
		margin-top: 12px;
		margin-left: 0;
		margin-bottom: 32px;
		letter-spacing: 2px;
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.8px;
		margin-bottom: 40px;
		span {
			display: block;
			color: $accent-color;
			font-size: 18px;
			margin-top: 25px;
			letter-spacing: 0.9px;
		}
	}
	&__description {
		font-family: 'Open Sans', serif;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 24px;
		letter-spacing: 0.7px;
	}
	&__btn {
		display: block;
		background-color: $accent-color;
		color: $light-color;
		text-decoration: none;
		max-width: 250px;
		border-radius: 3px;
		text-align: center;
		margin-top: 45px;
		padding: 12px 0;
		letter-spacing: 1.7px;
		margin-bottom: 16px;
		font-size: 16px;
	}
	small {
		font-family: 'Open Sans', serif;
		letter-spacing: 0.5px;
		font-style:italic;
		margin-left: -3px;
	}
}
.block-book {
	display: flex;
	justify-content: flex-start;
	&-demo {
		display: block;
		width: 447px;
		height: 643px;
		background-image: url(../../img/book.svg);
		background-repeat: no-repeat;
		margin-right: 55px;
	}
}
.block-autor {
	display: flex;
	justify-content: space-between;
}
.block-ava {
	position: relative;
	&__svg {
		position: absolute;
		z-index: -1;
		right: 0;
	}
	&__img {
		margin-right: 44px;
		margin-top: 47px;
	}
}
.block-counter {
	display: flex;
	justify-content: space-between;
	margin-top: 193px;
    padding: 0px 61px 0 87px;
	p:first-child {
		margin-right: 20px;
	}
	p {
		font-family: 'Open Sans', serif;
		text-align: center;
		font-size: 18px;
		letter-spacing: 0.7px;
		span {
			font-family: 'Roboto Slab', serif;
			display: block;
			font-weight: 100;
			font-size: 80px;
			color: $accent-color;
			margin-bottom: 46px;
			letter-spacing: 3px;
		}
	}
}
.block-about {
	display: flex;
	justify-content: space-between;
	margin-top: 82px;
	h3 {
		margin-bottom: 20px;
	}
	p {
		font-family: 'Open Sans', serif;
		letter-spacing: 0.6px;
	}
	&-text {
		flex-basis: 41%;
	}
	&-table {
		flex-basis: 49%;
		&__list {
			margin: 25px 0 0 0;
			padding: 0;
			counter-reset: list;
			column-count: 2;
			& > li {
				position: relative;
				padding-left: 36px;
				counter-increment: list;
				list-style-type: none;
				margin-bottom: 8px;
				letter-spacing: 0.7px;
				&::before {
					content: counter(list) ". ";
				}
				&::after {
					content: "+";
					font-family:  'Open Sans', serif;
					font-size: 15px;
					line-height: 22px;
					position: absolute;
					left: 0;
					top: 1px;
					background-color: $accent-color;
					color: $light-color;
					padding: 0 7px;
				}
			}
		}
		&__btn {
			color: $light-color;
			background-color: $accent-color;
			border: none;
			font-size: 18px;
			padding: 15px 44px;
			letter-spacing: 1px;
			margin-top: 25px;
			margin-left: 2px;
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
	}
}
.block-features {
	margin-top: 31px;
	display: flex;
	p {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 0;
	}
	&__list {
		list-style-type: none;
		display: flex;
		align-items: center;
		margin-left: 22px;
		& > li {
			margin-right: 11px;
			& > a {
				background-image: url(../../img/features.png);
				background-repeat: no-repeat;
				display: block;
				width: 20px;
				height: 20px;
			}
			.social1 {
				background-position: 0 0;
			}
			.social2 {
				background-position: -29px 0;
			}
			.social3 {
				background-position: -62px 0;
			}
		}
	}
}